In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('StockEtablissementHistorique_utf8.csv')

/var/folders/6r/gwp557492hbd4kyrbr9qggw80000gn/T/ipykernel_81773/3333619047.py:1: DtypeWarning: Columns (8,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('StockEtablissementHistorique_utf8.csv')

In [3]:
df.columns

Index(['siren', 'nic', 'siret', 'dateFin', 'dateDebut',
       'etatAdministratifEtablissement',
       'changementEtatAdministratifEtablissement', 'enseigne1Etablissement',
       'enseigne2Etablissement', 'enseigne3Etablissement',
       'changementEnseigneEtablissement', 'denominationUsuelleEtablissement',
       'changementDenominationUsuelleEtablissement',
       'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'changementActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement',
       'changementCaractereEmployeurEtablissement'],
      dtype='object')

In [4]:
df.head()

,siren,nic,siret,dateFin,dateDebut,etatAdministratifEtablissement,changementEtatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,changementEnseigneEtablissement,denominationUsuelleEtablissement,changementDenominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,changementActivitePrincipaleEtablissement,caractereEmployeurEtablissement,changementCaractereEmployeurEtablissement
0,325175,16,32517500016,2007-12-31,2000-09-26,A,False,NaN,NaN,NaN,False,NaN,False,NaN,NaN,False,N,False
1,325175,16,32517500016,NaN,2009-05-27,F,True,NaN,NaN,NaN,False,NaN,False,32.12Z,NAFRev2,False,N,False
2,325175,16,32517500016,2009-05-26,2008-01-01,A,False,NaN,NaN,NaN,False,NaN,False,32.12Z,NAFRev2,True,N,False
3,325175,24,32517500024,NaN,2011-10-21,F,True,TAHITI PERLES CREATIONS,NaN,NaN,False,NaN,False,47.89Z,NAFRev2,False,N,False
4,325175,24,32517500024,2011-10-20,2008-05-20,A,False,TAHITI PERLES CREATIONS,NaN,NaN,False,NaN,False,47.89Z,NAFRev2,False,N,False

In [7]:
import pandas as pd
import numpy as np
import os

# Chargez votre fichier CSV (ou utilisez votre DataFrame existant)
df_energie = pd.read_csv('conso-elec-gaz-annuelle-par-secteur-dactivite-agregee-commune.csv', sep=';')

# Divisez le DataFrame en 10 parties et stockez-les dans des fichiers CSV temporaires
temp_csv_dir = 'temp_csv_parts'
os.makedirs(temp_csv_dir, exist_ok=True)

df_parts = np.array_split(df_energie, 10)
for i, df_part in enumerate(df_parts):
    df_part.to_csv(os.path.join(temp_csv_dir, f'part_{i}.csv'), index=False)

/var/folders/6r/gwp557492hbd4kyrbr9qggw80000gn/T/ipykernel_81773/3768869305.py:6: DtypeWarning: Columns (25,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_energie = pd.read_csv('conso-elec-gaz-annuelle-par-secteur-dactivite-agregee-commune.csv', sep=';')
/Users/ludwig/anaconda3/lib/python3.11/site-packages/numpy/core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [8]:
# Ajustement des codes postaux dans le jeu de données de consommation pour correspondre au format INSEE
conso_data_adjusted = conso_data.copy()
conso_data_adjusted['code_postal'] = conso_data['code_postal'].astype(str).str.split('/').str[0].str.zfill(5)

# Fusion des deux jeux de données sur le code postal ajusté et le code INSEE
merged_data = pd.merge(conso_data_adjusted, filosofi_data, left_on='code_postal', right_on='CODGEO', how='inner')

# Vérifions les premières lignes du jeu de données fusionné pour s'assurer de la réussite de la fusion
merged_data.head()

NameError: name 'conso_data' is not defined